# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go build command
ingestion-api/ingestion-api

# Python files
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
